.page {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 8%;
}

.page a {
    text-decoration: underline;
}

.pageLeft {
    max-width: 833px;
    margin-right: 40px;
    padding-top: 40px;
}

.pageLeft img {
    width: 100%;
    margin-top: 30px;
}

.pageRight {
    max-width: 450px;
}

.pageHeader {
    height: 100px;
    margin-top: 20px;
}

.date {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background-color: var(--FR-color-dg);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.9rem;
}

.contacts {
    height: 431px;
    border-radius: 0;
}

.contacts div:nth-child(1) {
    height: 193px;
}

.contacts div:nth-child(2) {
    height: 250px;
    grid-template-rows: 2rem 1.2fr 1fr 1fr;
}

.tldr {
    background-color: var(--FR-color-g);
    padding: 40px 20px 20px 20px;
}

.tldrSpacer {
    width: 15%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--FR-color-b);
    margin-top: 50px;
    margin-bottom: 20px;
}

.related {
    width: 100%;
    background-color: var(--FR-color-dg);
    height: 50px;
}

.related h2 {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.newsLetter {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: all 0.2s cubic-bezier(0.43, 0.37, 0.53, 0.58);
}

.newsLetter:hover {
    background-color: black;
    color: white;
}

/* new */

.pageWrap {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    gap: 10px var(--FR-color-b);
}

.pageRight {
    max-width: none;
    padding-left: 50px;
}

.pageLeft {
    max-width: none;
    margin: 0;
    padding: 0;
    border-right: 2px solid var(--FR-color-lb);
    padding-right: 50px;
}

.contactImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--FR-color-lb);
}

.contactHeader {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    font-size: 0.8rem;
    margin-bottom: 10px;
    align-items: center;
}

.contactHeader h4 {
    margin-bottom: 8px;
}

.articleTldr {
    margin-top: 40px;
    background-color: var(--FR-color-lg);
    padding: 10px;
    border-radius: 7px;
    min-height: 150px;
}

.date {
    font-size: 0.75rem;
    background-color: initial;
    padding: 0;
}

.related {
    background-color: initial;
}

.pageTopic {
    padding: 10px;
    background-color: var(--FR-color-lb);
    border-radius: 25px;
    width: fit-content;
}
