/* testPageGrayBox */

#testPageGrayBox {
    background-color: var(--FR-color-lb);
    margin-bottom: 30px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 430px;
    max-width: var(--site-width);
    margin: 0 auto;
}

.testPageGrayBoxImgWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.testPageGrayBoxImgWrap img {
    height: 100%;
    width: auto;
}

#testPageGrayBox h2 {
    font-size: 2rem;
}

.testPageGrayBoxContent a {
    color: var(--site-text-color);
}

.testPageGrayBoxContent {
    height: 100%;
    width: 100%;
    padding: 30px;
}

.testPageGrayBoxContent h4 {
    margin-bottom: 30px;
}

.testPageGrayBoxContent div {
    display: flex;
    flex-wrap: wrap;
}

.testPageGrayBoxContent p {
    margin-bottom: 70px;
}

.testPage {
    padding-top: 20px;
}

/* testList */
.testList {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* testObject */

.testObject {
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    height: 235px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: var(--FR-color-lg);
}

.testObject .content {
    margin: auto 0;
    padding-left: 20px;
    padding-right: 5px;
}

.testObject .content *:not(h5) {
    padding-bottom: 15px;
}

.testObject input {
    align-self: baseline;
}

.testPage .testObject .rating {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 35px;
    height: 35px;
    min-width: 0;
    min-height: 0;
}

.grade {
    border-radius: 25px 3px 3px 3px;
    background-color: var(--FR-color-lb);
    position: absolute;
    top: 8px;
    left: 8px;
    width: 90px;
    height: 50px;
    min-width: 0;
    min-height: 0;
    font-size: 0.9rem;
    padding: 10px 10px;
    text-align: center;
}

.grade span {
    font-size: 1.3rem;
}

.path {
    padding-left: 20px;
    width: 100%;
    max-width: var(--site-width);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.testHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.testHeader span {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.testHeader .block {
    display: inline-flex;
    height: fit-content;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}

.testList,
.testHeader {
    max-width: calc(var(--site-width) - 200px);
    margin: 0 auto;
}

.compare {
    border-radius: calc(2.4rem / 2);
    height: 2.4rem;
}

.testHeader :nth-child(1) {
    margin-right: auto;
}

.filter {
    text-decoration: underline;
}

.testHeader select {
    margin-right: 150px;
}

.testHeader input {
    margin-right: 10px;
}

.testHeader input,
.testHeader select {
    border: 2px solid var(--FR-color-dg);
    border-radius: calc(2.4rem / 2);
    height: 2.4rem;
    padding: 0 10px;
    font-size: var(--site-f_size);
}
.testHeader input:focus-visible,
.testHeader select:focus-visible {
    outline: 3px solid var(--FR-color-b);
    outline-offset: 2px;
    text-decoration: none;
}

.testHeader select {
    appearance: none;
    padding-right: 40px;
}

.sortV {
    position: relative;
    transform: translateX(-34px);
}

.search {
    position: relative;
    transform: translateX(-40px);
}

.ratingWrap {
    display: grid;
    grid-template-columns: 30px auto;
    grid-auto-rows: 30px;
}

.testObjectWrap {
    min-height: 1000px;
}

/* compare */
.compareWrap {
    display: flex;
    background-color: var(--FR-color-lb);
    padding: 5px 5px 0 0;
}

.compareListHeader {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.compareListItem {
    padding-left: 5px;
    height: 3.2rem;
    display: flex;
    align-items: center;
}

.compareListItem:not(.compareListHeader .compareListItem) {
    border-top: 2px solid var(--FR-color-g);
}

.comparePoints {
    display: grid;
    grid-template-rows: 1fr;
}

.compareItem,
.comparePoints {
    width: 300px;
    position: relative;
}

.compareItemsWrap {
    display: flex;
    overflow-x: auto;
}

.falseScroll {
    height: 15px;
}

.compareListHeader div:first-child {
    background-color: #fff;
    margin: 0 auto;
    width: 98%;
    height: 80%;
}

.compareItemX {
    background-color: var(--FR-color-db);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.compareItemX:hover {
    cursor: pointer;
    background-color: var(--FR-color-b);
}

.compareItemX i {
    color: white;
}

@media screen and (max-width: 920px) {
    #testPageGrayBox {
        display: flex;
        flex-wrap: wrap;
    }

    .testList .ratingWrapWrap {
        display: none;
        background-color: aqua;
    }

    .testPage .content * {
        width: 100%;
        margin-bottom: 10px;
    }

    .testPage .content {
        display: flex;
        flex-wrap: wrap;
    }

    .content h4,
    .content div {
        padding-bottom: 0px !important;
    }

    .testObject {
        height: 115px;
        grid-template-columns: 115px 1fr 20px;
    }

    .testList {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 906px) {
    .testHeader {
        justify-content: left;
    }

    .testHeader span {
        width: 100%;
    }

    .testHeader span input,
    .testHeader span select {
        width: 100%;
        margin: 0;
        position: relative;
    }

    .sortV,
    .search {
        display: flex;
        margin: 0 !important;
        margin-left: auto;
        width: 100%;
        transform: translate(0) translateY(-30px) translateX(-20px);
        flex-direction: row-reverse;
    }

    .search i,
    .sortV i {
        margin: 0;
        margin-right: 0 !important;
    }
}
