/* test */

.testsWrap {
    width: 100%;
    display: grid;
    gap: 45px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    min-height: 400px;
}

.test {
    width: 100%;
    max-width: 440px;
    height: 600px;
}

.test h3 {
    margin-bottom: 10px;
}

.testImgWrap {
    width: 100%;
    height: 50%;
    max-height: 330px;
}

.testCategory {
    background-color: var(--FR-color-lg);
    width: fit-content;
    padding: 6px 12px;
    border-radius: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* filter */
.filterWrap {
    display: flex;
}

.filter {
    background-color: var(--FR-color-db);
    width: fit-content;
    padding: 6px 12px;
    border-radius: 35px;
    padding: 9px 9px;
    margin: auto 8px;
    align-items: center;
}

.filter span {
    margin-right: 8px;
    color: white;
}

.filter i {
    margin-top: 1px;
    color: white;
}

/* top section */
.pageTopWrap {
    background-color: var(--FR-color-g);
    padding: 40px;
}

.pageTopWrap * {
    max-width: 900px;
}

.pageTopWrap h1,
.pageTopWrap p {
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
/* categorys */

.categoryWrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 10px;
}

.categoryBtn {
    border-radius: 25px;
    /* background-color: var(--FR-color-lg); */
    width: fit-content;
    padding: 10px 15px;
}

.categoryBtnOn {
    border-radius: 25px;
    background-color: var(--FR-color-b);
    width: fit-content;
    padding: 10px 15px;
}

.categoryBtn:hover {
    opacity: 60% !important;
}

/* search bar topsection */
.search {
    height: 60px;
    background-color: var(--site-backround-color);
    display: grid;
    grid-template-columns: auto 88px;
    padding: 7px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.search input {
    width: 100%;
    border: none;
    font-size: large;
}

.search:focus-within {
    outline: solid var(--FR-color-b);
}

.searchField:focus {
    outline: none;
}

.search i {
    color: white;
}

.searchBtn {
    border: none;
    background-color: var(--FR-color-db);
    color: white;
    font-size: large;
}

/* test Header */
.testHeader {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-right: 60px;
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.testHeader h2 {
    font-size: larger;
}

.testSort {
    border: 2px solid var(--FR-color-dg);
    display: flex;
    border-radius: 25px;
    padding: 10px 30px 10px 8px;
    align-items: center;
    margin-left: auto;
    font-size: var(--main-f_size);
    appearance: unset;
}

.testSortV {
    display: inline-block;
    position: relative;
    top: 10px;
    left: -25px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--FR-color-dg);
    pointer-events: none;
    width: 20px;
    height: 20px;

    font-size: 20px;
}

.testSort i {
    color: var(--site-text-color);
    margin-left: 5px;
}

@media screen and (max-width: 1100px) {
    .testsWrap {
        grid-template-columns: 47.5% 47.5%;
        justify-items: center;
    }
}

@media screen and (max-width: 735px) {
    .testsWrap {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 460px) {
    .searchBtn span {
        display: none !important;
    }

    .searchBtn {
        width: 46px;
        margin-left: auto;
    }
    .pageTopWrap {
        padding: 20px;
    }
}
