.menu {
    display: grid;
    gap: 17px;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px;
}

.menu li {
    width: 100%;
    height: 100%;
    background: url(https://www.forbrukerradet.no/fly/img/pil_rund.svg) right 20px top 15px / 30px
        30px no-repeat var(--FR-color-lgreen);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.menu li:hover {
    background-color: var(--FR-color-green);
}

.pageHeader {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 100px;
}

.menuHeader {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
