.pageSplitt {
    display: grid;
    grid-template-columns: 70% 17%;
    overflow: hidden;
    justify-content: space-evenly;
}

.searchFilter {
    width: 100%;
    height: fit-content;
    background-color: var(--FR-color-lg);
    padding: 12px;
}

.searchFilter h4 {
    font-weight: 500;
}

.searchFilterFilter {
    display: flex;
    margin-top: 10px;
}

.searchFilterFilter div {
    margin-left: 8px;
    display: flex;
}

.searchFilterFilter div section {
    margin-left: 8px;
    opacity: 50%;
    font-size: 0.8rem;
    padding-top: 0.1rem;
}

.topSection {
}

.infoTop {
    margin-bottom: 20px;
}

.filterTop {
}

.filterTop form span:not(.filterTop form :first-of-type) {
    margin-left: 16px;
}

.filterTop form span:not(.filterTop form :first-of-type):hover {
    text-decoration: underline;
}

.filterTop form span label {
    margin-left: 8px;
}

.resultList {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.result {
    padding: 0 6px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--FR-color-lg);
}

.result h2 {
    font-weight: 00;
    margin-bottom: 8px;
}

.result div {
    margin-top: 17px;
    margin-bottom: 8px;
    opacity: 50%;
}

.pageNr span {
    padding: 0 8px;
}
